# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# IDE
.vscode/
.idea/
